.ConfigSettingsCard_main {
    width: 94%;
    height: 5em;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 2em;
    /* padding-right: 4em; */
    cursor: pointer;
    /* border: 1px solid rgb(175, 175, 175); */
    margin: 0px 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    color: rgb(56, 56, 56);

    &:hover {
        background-color: var(--primary-backdrop-color);
    }
}

.ConfigSettingsCard_left {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.ConfigSettingsCard_right {
    width: 20%;
    /* border: 1px solid red; */
    flex-shrink: 0;

    &>a {
        text-align: center;
    }

    &>h3 {
        text-align: center;
    }
}

.ConfigSettingsCard_title {
    font-size: large;
    margin-left: 1.5em;
}

.ConfigSettingsCard_icon_img {
    width: 28px;
    height: 28px;
    opacity: 0.85;
}

.ConfigSettingsCard_caret_icon_img {
    width: 20px;
    height: 20px;
}